ion-item {
    --padding-start: 10px;
    --inner-padding-end: 10px;

    ion-thumbnail {
        height: 100%;
        padding-bottom: 10px;
        width: 25%;
        margin-inline-end: 10px;
    }

    h1 {
        font-weight: bold;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
    }

    p {
        font-size: 0.95rem;
        color: #8a8a8a;

    }

    .genero {
        margin-top: 5px;

        ion-badge {
            padding: 4px;
            margin-left: 5px;
        }
    }

    ion-chip {
        padding-inline: 3px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        justify-content: center;
        border-width: 2px;
        font-weight: bold;
    }
}
