h1{
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
}
p{
    font-weight: bold;
}
.ed{
    text-align: right;
    margin-top: -50px;
}
ion-chip{
    border-width: 2px;
    font-weight: bold;
}
ion-badge {
    padding: 4px;
    margin-left: 5px;
    text-align: center;
}
.ba{
    text-align: center;
    margin-left: 50px;
}